*,*:after,*:before{
	padding: 0px;
	margin: 0px;

}

body{
	background-color: #87CEFA;
}

textarea:focus{
	outline: none;
}

.hide{
	display: none;
}

.header{
	display: inline-flex;
	position: relative;
	background-color: #708090;
	height: 80px;
	width: 100%;
	font-family: 'Montserrat Alternates', sans-serif;
}

.nav{
	position: absolute;
	right: 50px;
	float: right;
	top:20px;
	display: flex;
	justify-content: space-between;
	width: 400px;
}

.nav_link{
	text-align: center;
	padding:6px; 
	font-size: 20px;
	text-decoration: none;
	border:solid;
	color:#F5DEB3;
	border-color: #708090;
	border-width: 3px;
	border-radius: 10px;
}

.nav_link:hover{
	border-color: #F5DEB3;
	transition-duration: 0.5s;
}

.contein{
	max-width: 1200px;
	width: 100%;
	margin: auto;
	text-align: center;
}
.log_h{
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
	margin-top: 20vh;
	margin-bottom: 20px;
}
.form_contact{
	display: block;
	text-align: center;
	width: 420px;
	margin:auto;
}

.inp_p{ 
	font-size:22px;
    display: inline-flex;
    margin-bottom: 15px; 
    width: 270px;
    justify-content: space-between;
}
.inp_t{ 
	font-size: 15px;
	border-width: 0px;
	border-radius: 5px;
}
.inp_t:focus{ 
	outline:none;
}
.inp{
	font-size: 18px;
	border-radius: 5px;
	background-color: #87CEEB;
	height: 30px;
	width: 200px;
	margin: auto;
	justify-content: space-between;
	transition: 0.5s;
}
.inp:hover{
	background-color:#9370DB;
}
.inp_a{
	padding: 5px;
	color:black;
	text-decoration: none;
	font-size: 18px;
	border-radius: 5px;
	border: solid;
	background-color: #87CEEB;
	height: 50px;
	width: 220px;
	margin-top:30px;
	transition: 0.5s;
}
.inp_a:hover{
	background-color:#9370DB;
}
.log_a{
	font-size: 20px;
	color:black;
	margin: 0 auto;
}

.chat_window{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow-y: scroll;
	position: relative;
	margin: 0 auto;
	height: 500px;
	width: 800px;
	background-color: #FFFFE0;
	border: solid;
    border-color: black;
    border-width: 1px;
}
.message_form{
	margin: auto;
	display: inline-flex;
	bottom: 0px;
	left: 0px;
}
.message_box{
	padding: 5px;
	color: gray;
	resize: none;
	height: 70px;
	width: 690px;
	background-color: white;
	border:none;
	border-bottom-left-radius: 10px; 
}
.message_button{
	font-family: 'Montserrat Alternates', sans-serif;
	height: 80px;
	width: 100px;
	border:none;
	text-align: center;
	border-bottom-right-radius: 10px; 
}
.message_button:focus{ 
	outline:none;
}
.message_button:hover{
	cursor: pointer;
	background-color: #D8BFD8;
	transition-duration: 0.5s;
}
.chat_h{
	font-family: 'Montserrat Alternates', sans-serif;
	margin: auto;
	font-size: 30px;
}
.mes_li_my{
	word-break: break-all;
	list-style-type: none;
	position: relative;
	padding: 3px;
	text-align: left;
	max-width: 350px;
	background-color: #fced8b;
	font-size: 16px;
	margin-top:3px;
	margin-left: 420px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-bottom-right-radius: 0; 
}
.mes_li_he{
	word-break: break-all; 
	list-style-type: none;
	position: relative;
	padding: 3px;
	text-align: left;
	max-width: 350px;
	background-color: #fff8cc;
	font-size: 16px;
	margin-top:3px;
	margin-left: 10px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-bottom-left-radius: 0; 
}
.mes_text{

}
.mes_time{
	color: gray;
	font-size: 10px;
	position: absolute;
	right: 2px;
	bottom: 2px;
}

h1{
	font-family: 'Montserrat Alternates', sans-serif;
}