<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Chat with {{user2}}</title>
    
</head>
<body>
    <script type="text/javascript">
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    <header class="header">
        <div class="chat_h">
            Чат с {{user2}}
        </div>
        <span class="chat_h" id="roll">0</span>
    </header>
    <div  class="contein">
        <div class="chat_window" id="mes_box">
            <ol id="ol">
            </ol>
            <form action="" class="message_form" name="form_chat" onsubmit="return false;">
                <textarea class="message_box" id="message_box" name="text" onclick="del_text()" required>Введите сообщение...</textarea>
                <p><input class="message_button" id="mes_sub" value="Отправить" onclick="send_data()" />
            </form>                
        </div>
    </div>
    <span class="hide" id="user1">{{user1}}</span>
    <span class="hide" id="user2">{{user2}}</span>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    
</body>
</html>